<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.min.css">
    <style>
      html {
        padding: 1em;
        max-width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col col-12">
        <h1>Houdini Nodeshape Converter</h1>
        <p align="center"><img src="http://i.imgur.com/VWO2QFG.jpg"></p>
      </div>
      {% if errmsg %}
      <div class="col col-12">
        <div class="message error">{{ errmsg }}</div>
      </div>
      {% endif %}
      <div class="col col-12">
        <form method="post">
          <table>
            <tr>
              <td><input type="number" name="xres" placeholder="Input X Resolution" value="{{ request.form.get('xres', '') }}"/></td>
            </tr>
            <tr>
              <td><input type="number" name="yres" placeholder="Input Y Resolution" value="{{ request.form.get('yres', '') }}"/></td>
            </tr>
            <tr>
              <td><textarea name="svgstring" placeholder="SVG String">{{ request.form.get('svgstring', '') }}</textarea></td>
            </tr>
            <tr>
              <td><input type="submit" name="submit"/></td>
            </tr>
            {% if shape_json %}
            <tr>
              <td><label>Result</label>
              <textarea rows="10">{{ shape_json }}</textarea></td>
            </tr>
            {% endif %}
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
